@font-face {
  font-family: Eczar-SemiBold;
  src: url(../Fonts/static/Eczar-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c9e265;
}

h1 {
  font-family: Eczar-SemiBold;
  font-size: 51px;
}

h2 {
  font-family: Eczar-SemiBold;
  font-size: 40px;
}

.mes {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
  margin-top: 5px;
}

.valor {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 75px;
  margin-top: 15px;
}
.title {
  margin-top: 140px;
  margin-left: 300px;
  columns: 3;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 20px;
  margin-left: 300px;
  margin-right: 1100px;
  border: 2px solid black;
}
.month {
  border: 1px solid black;
  height: 70px;
}

.value {
  position: relative;
  top: 20px;
  left: 100px;
  width: 100px;
}
img {
  margin-top: -520px;
  margin-left: 900px;
  background-size: cover;
}

.final {
  margin-top: -100px;
  margin-left: -800px;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .title {
    margin-top: 40px;
    margin-left: 0px;
    columns: auto;
    text-align: center;
  }
  .table {
    display: auto;
    grid-template-columns: auto auto auto;
    font-size: 20px;
    margin-left: 22px;
    margin-right: 1100px;
    margin-top: 20px;
  }
  .month {
    margin: 0;
    width: 110px;
    height: 70px;
  }
  .mes {
    margin-left: 15px;
    margin-top: 2px;
  }

  .valor {
    margin-left: 5px;
  }
  .final {
    margin-top: -450px;
    margin-left: 0px;
    text-align: center;
  }

  img {
    margin-top: 100px;
    margin-left: 3px;
    width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
